body {
  font-family: "Trebuchet Ms", sans-serif;
  margin: 0 auto;
  background-color: #ffe4e1;
}

.home {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 700;
}

.home:hover {
  background-color: grey;
}

a {
  text-decoration: none;
}

nav {
  background-color: whitesmoke;
  padding: 10px;
}

.card {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 40px;
  width: 800px;
  margin-top: 30px;
  margin-left: 500px;
}

h1 {
  text-align: center;
}

h3 {
  font-weight: 40px;
}

img {
  margin-left: 230px;
  background-color: #ffb6c1;
  padding: 20px;
  border-radius: 20px;
}

.desc {
  margin: 20px;
  background-color: #ffb6c1;
  padding: 15px;
  border-radius: 20px;
}

.ingredients {
  background-color: #ffb6c1;
  margin: 20px;
  padding: 15px;
  border-radius: 20px;
}

.steps {
  background-color: #ffb6c1;
  margin: 20px;
  padding: 15px;
  border-radius: 20px;
}

li {
  margin-bottom: 10px;
}
