body {
  font-family: "Trebuchet Ms", sans-serif;
  margin: 0 auto;
}

nav {
  background-color: whitesmoke;
  padding: 10px;
}

.home {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 700;
}

.home:hover {
  background-color: grey;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  padding: 20px;
  background-color: grey;
  border: 10px solid white;
  width: 200px;
}

li:hover {
  background-color: black;
}

div {
  text-align: center;
  margin-left: 770px;
}

ul {
  list-style: none;
}
